
body {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBiO3ybIfDRnan_kgqM8yhNgWPkdVFXdWYew&usqp=CAU);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
img {
    position: absolute;
    right: 15%;
    bottom: 47%;
    height: 21%;
    width: 17%;
    border: 1pt solid black;
}
